# Ignorar binarios y archivos objeto compilados
/build/
*.o
*.out
*.exe

# Ignorar imágenes generadas temporalmente
*.png
*.jpg
*.svg

# Archivos de backup o edición
*~
*.swp
*.tmp
*.bak

# Archivos de depuración
*.log
*.core
vgcore.*

# Configuración de editores
.vscode/
.idea/

